# Intro a Python

## Variables

En esta ocasión comenzaremos trabajando con lo mas básico de Python. 

Probemos a crear una variables y ver como podemos mostrarlas. Recordemos que los 2 grandes grupos básicos de variables son tipo texto y numericas.

A partir de ahora le diremos String a las variables del típo texto.

En cuanto a las variables numéricas llamaremos integer a las que representen numeros enteros, y float a las que representen números decimales.

### Integer

Vamos a crear una variable utilizando la notación snake_case

In [1]:
# Creamos una variable Integer
variable_entera = 10

Como estamos trabajando con Jupyter notebook y este entorno está pensado para trabajar con datos tenemos diferentes para mostrar una variable.

In [2]:
#Podemos usar la función print() para ver que contiene nuestra variable_entera
print(variable_entera)

10

In [3]:
#O directamente escribir el nombre y automaticamente se imprimira
variable_entera

10

### Float

Vamos a crear una variable utilizando la notación camelCase

In [4]:
# Creamos una variable Float
variableDecimal = 2.45

Imprimamos nuevamente de las 2 formas que ya vimos

In [5]:
#Usamos la función print
print(variableDecimal)

2.45

In [6]:
# Imprimimos directamente
variableDecimal

2.45

### String

Vamos a crear una variable utilizando la notación PascalCase

In [7]:
# Creamos una variable Float y la mostramos en un mismo paso
VariableTexto = "soy un string"
VariableTexto

'soy un string'

#### Nombrar variables

Como vimos anteriormente en python podemos usar snake_case, camelCase y PascalCase.

En otros lenguajes existe la opcion de usar kebab-case pero al usarla en python nos genera un error ya que - se usa para restar.

### Print()

Con print() ademas de mostrar variables (que normalmente lo vamos a hacer poniendo el nombre directamente) podemos mostrar mensajes sin estar adentro de variables

In [8]:
print("hola clase")

hola clase

### Pro tip

Si lo pensamos estar definiendo muchas cosas linea a linea e ir mostrandolas de a una no es muy útil, podemos aplicar algunas funcionales especiales de jupyter para trabajar con variables con pros.

In [9]:
#Aprendamos a crear varias variables de una sola vez
variable_A, variable_B, variable_C = "variable_A", 22, 80.32

In [10]:
#Puedo mostrarlas todas de una vez con print()
print(variable_A)
print(variable_B)
print(variable_C)

variable_A
22
80.32

In [11]:
#O aplicando el feature de los notebook
variable_A, variable_B, variable_C

('variable_A', 22, 80.32)

### Booleanos

Otro tipo de dato muy utilizado en el area de datos son los booleanos o valores lógicos. Básicamente nos indican si algo es verdadero o falso. En python para definir una variable booleana simplemente hay que usar False o True.

In [12]:
#Defino una variable boolena True y una False

esto_es_python = True
esto_es_excel = False

In [13]:
#Podemos imprimirlas para ver como se ven, ademas podemos agregarle un mensaje a nuestro print
print("¿Esto es Python?:", esto_es_python)
print("¿Esto es Excel?:", esto_es_excel)

¿Esto es Python?: True
¿Esto es Excel?: False

## Tipos de datos

Vimos que habia diferentes tipos de datos y trabajamos con los 3 mas comunes y básicos. Usando type() podemos ver que tipo de dato tiene asignado una variable.

In [14]:
type(variable_entera)

int

In [15]:
type(variableDecimal)

float

In [16]:
type(VariableTexto)

str

In [17]:
type(esto_es_python)

bool

## CAST

Una forma muy sencilla de especificar o transformar (siempre que sea posible) una variable de un tipo a otro es usando cast. Veamos ejemplos

In [18]:
numero_uno_entero = int(1)   # Especifico que mi variable va a ser del tipo integer
numero_uno_entero, type(numero_uno_entero) #Veo el dato y el típo de dato

(1, int)

In [19]:
numero_tres_entero = int(3.45)   # Especifico que mi variable va a ser del tipo integer y por lo tanto eliminar los decimales
numero_tres_entero, type(numero_tres_entero) # Veo el dato y el típo de dato

(3, int)

In [20]:
cast_variableDecimal = int(variableDecimal)   # Voy a transformar y por lo tanto eliminar los decimales de mi variableDecimal
variableDecimal, cast_variableDecimal, type(cast_variableDecimal) # Veo el dato original, mi variable despues de cast y el típo de dato final

(2.45, 2, int)

In [21]:
numero_diez_string = "10" #Creamos una variable String a para el valor "10"
cast_numero_diez_string = int(numero_diez_string)   # Voy a transformar mi numero_diez_string

# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
numero_diez_string, type(numero_diez_string), cast_numero_diez_string, type(cast_numero_diez_string)

('10', str, 10, int)

In [22]:
numero_uno_decimal = float(1) # Especifico que mi variable va a ser del tipo decimal
numero_uno_decimal, type(numero_uno_decimal) #Veo el dato y el típo de dato

(1.0, float)

In [23]:
cast_variable_entera = float(variable_entera)   # Voy a transformar de mi variable_entera
variable_entera, cast_variable_entera, type(cast_variable_entera) # Veo el dato original, mi variable despues de cast y el típo de dato final

(10, 10.0, float)

In [24]:
numero_pi_string = "3.14" #Creamos una variable String a para el valor "3.14"
cast_numero_pi_string = float(numero_pi_string)   # Voy a transformar mi numero_pi_string

# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
numero_pi_string, type(numero_pi_string), cast_numero_pi_string, type(cast_numero_pi_string)

('3.14', str, 3.14, float)

In [25]:
mundial_arg_string = str("arg78")   # Especifico que mi variable va a ser del tipo string
mundial_arg_string, type(mundial_arg_string) #Veo el dato y el típo de dato

('arg78', str)

In [26]:
variable_anio_actual = 2024
cast_variable_anio_actual = str(variable_anio_actual)   # Voy a transformar de integer a string

# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
variable_anio_actual, type(variable_anio_actual), cast_variable_anio_actual, type(cast_variable_anio_actual)

(2024, int, '2024', str)

In [27]:
numero_pi = 3.14
cast_numero_pi = str(numero_pi)   # Voy a transformar de float a string

# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
numero_pi, type(numero_pi), cast_numero_pi, type(cast_numero_pi)

(3.14, float, '3.14', str)

In [28]:
bool_curso_data_analitics = True
cast_bool_curso_data_analitics = str(bool_curso_data_analitics) #Puedo transforma un booleano a String

# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
bool_curso_data_analitics, type(bool_curso_data_analitics), cast_bool_curso_data_analitics, type(cast_bool_curso_data_analitics)

(True, bool, 'True', str)

## Operadores

Dentro de Python tenemos diferentes operadores

 - Aritméticos: Suma +,  Resta -,  Multiplicación *,  División /,  Exponente **,  Módulo %  División entera //

 - Comparación: Igual qué ==, Diferente qué !=, Mayor qué >, Menor qué <, Mayor o igual >=, Menor o igual <=

 - Lógicos: AND, OR, NO

 - Especiales: IS, IS NOT, IN, NOT 

 - Asignación: Igual =, Incremento +=, Decremento -=

Vamos a practicarlos

In [29]:
#Podemos hacer suma entre valores directamente o entre variables o variables y números
numero_veinte = 20
numero_cuatro = 4

20 + 4, numero_veinte + 4, numero_veinte + numero_cuatro

(24, 24, 24)

In [30]:
#Podemos hacer restas entre valores directamente o entre variables o variables y números
numero_cien = 100
numero_uno = 1

100 - 1, numero_cien - 1, numero_cien - numero_uno

(99, 99, 99)

In [31]:
#Con las restas podemos obtener números negativos

1 - 100, 1 - numero_cien, numero_uno - numero_cien

(-99, -99, -99)

In [32]:
#Podemos operar decimales con enteros
numero_cuarenta_entero = 40
numero_e =  2.72

40 + 2.72, numero_cuarenta_entero + 2.72, numero_cuarenta_entero + numero_e, type(numero_cuarenta_entero + numero_e)

(42.72, 42.72, 42.72, float)

In [33]:
# Tambien tenemos multiplicaciones
radio = 8 #Radio circunferencia
numero_pi = 3.14 #PI
perimetro = 2*numero_pi*radio # Calculo perimetro

perimetro #Imprimo valor

50.24

In [34]:
#Un ejemplo de division simple puede ser:
diametro = 20 #Defino diametro

radio = diametro/2 #Calculo el radio
radio

10.0

In [35]:
#Usando el exponente puedo calcular el área de un círculo
radio = 14

area = radio*(numero_pi**2)
area

138.0344

In [36]:
#El modulo o resto puede ser util

x = 5
y = 2

print(x % y)

1

In [37]:
# Con // voy a calcular una division entera (redondeando hacia abajo)

x = 15
y = 2

print("Division entera:", x // y)
print("Resto:", x % y)

Division entera: 7
Resto: 1

In [38]:
#Con comparciones puedo ver relaciones entre términos

variable_pais_minuscula = "argentina"
variable_pais_mayuscula = "ARGENTINA"

variable_pais_mayuscula == variable_pais_minuscula

False

In [39]:
#Pueden ser entre numeros
ventas_totales = 243090
ventas_esperadas = 243080

ventas_totales >= ventas_esperadas

True

In [40]:
# Ademas puedo incrementar valores o dismuirlos con cada ejecución
valor_creciente, valor_decreciente = 0, 0 #Defino mis puntos de inicio

In [46]:
#incremento con cada ejecución

valor_creciente += 1 
valor_decreciente -= 1

valor_creciente, valor_decreciente

(4, -4)

In [42]:
#Podemos incrementar 2 a dos en 2 tambien
numeros_pares, cantidad_ejecuciones = 0, 0 #Defino mis puntos de inicio

In [52]:
#Ejecuto

numeros_pares +=2
cantidad_ejecuciones += 1

print("numero:",numeros_pares)
print("veces ejecutado:",cantidad_ejecuciones)

numero: 14
veces ejecutado: 7